.hello {
    background-color: #000000;
    color: #00ff00;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.world {
    font-family: "Inconsolata", monospace;
    font-size: 4vw;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}
